.eqipment {
    border: 1px solid rgba(149, 160, 167, 0.5);
    box-shadow: 0px 1px 3px #95A0A7;
    border-radius: 5px;
    padding: 15px;
    background-color: #ffffff;
}

.eqipment div {
    padding: 5px 10px;
    margin-bottom: 10px;
}

.eqipment img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
.description {
color: #95A0A7;
margin-top: 10px;
font-size: 15px;
}
.description b{
color: #000000;
}

.eqipment button {
    /* position: absolute;
    bottom: 15px;
    right: 15px; */
    background-color: rgba(85, 0, 255, 0.803);
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 18px;
    cursor: pointer;
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .description {
        color: #95A0A7;
        margin-top: 10px;
        font-size: 13px;
    }
    .eqipment p{
        font-size: 13px;
    }
}
@media only screen and (max-width: 320px){
    .description {
        color: #95A0A7;
        margin-top: 10px;
        font-size: 11px;
    }
    .eqipment p{
        font-size: 11px;
        margin-bottom: 10px;
    }
}