.main-container{
    width: 100%;
    display: flex;
}
.equipment-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
    grid-gap: 20px;
    padding:100px 100px;
    background-color: rgb(240, 240, 240);
    flex-grow: 3;
}
.dashboard-container{
    background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 1235px){
    .equipment-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding:100px 30px;
        background-color: rgb(240, 240, 240);
    }
}
@media only screen and (max-width: 993px){
    .equipment-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding:100px 30px;
        background-color: rgb(240, 240, 240);
    }
}
@media only screen and (max-width: 768px){
    .main-container{
        width: 100%;
        flex-direction: column-reverse;
    }
    .equipment-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding:100px 30px;
        background-color: rgb(240, 240, 240);
    }
}
@media only screen and (max-width: 600px){
    .equipment-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding:100px 30px;
        background-color: rgb(240, 240, 240);
    }
}