.header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(144, 0, 255);
}
.header img{
    width: 80px;
    height: 30px;
}
.header span{
    font-size: 35px;
    font-weight: 700;
    color: rgb(144, 0, 255);
    margin-left: 5px;
}
@media only screen and (max-width: 600px){
    .header{
        padding: 10px 20px;
    }
    .header img{
        width: 60px;
        height: 25px;
    }
    .header span{
        font-size: 20px;
    }
}